@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body{
  background: #F8F9FA;
  font-family: 'Poppins', sans-serif !important;
}
.btn{
  webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.btn:hover{
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px)
}
.btn-link{
  box-shadow: none !important;
  text-decoration: none !important;
}
.btn-link:hover{
  color: #2c7be5;
  background-color: #d5e5fa;
}

//first section
.first-section{
  margin-top: 3rem;
  .display-4{
    font-weight: 500;
  }

}
//second section
.second-section{
  margin-top: 3rem;
  .card{
    border: 0;
  }
}

//text-color classs
.text-light-gray{
  color: #6c757d !important;
  font-size: 1.25rem !important;
  font-weight: 400 !important;
}

//avatar like
.avatar-like{
  display: flex;
  img {
    width: 30px;
    height: 30px;
    margin-left: -0.5rem !important;
    border: 1px solid white;
  }
}

//third-section
.third-section{
  margin-top:3rem;
  margin-bottom: 3rem;
  background-image: url("../img/backround/team.png");
  background-position: center;
  background-size: cover;
  h1{
    font-weight: 500;
  }
}

//fourth-section
.fourth-section{
  margin-top: 5rem;
  .list-group-item{
    background-color: inherit;
    border: 0;
  }
  .list-group-flush .list-group-item:first-child {
    border-top-width: 0;
    font-weight: bold;
  }
  .apple-btn{
    font-size: 1rem;
    .font-2{
      font-size: 12px;
    }
  }
}
